<!DOCTYPE html>
<html>
  
<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<script src="/socket.io/socket.io.js"></script>

  
<body>
    <div class="background"></div>
    <img class="bird" src="images/flappy.png" alt="bird-img">
    <div class="message">
        Press space To Start Game
    </div>
    <div class="score">
        <span class="score_title"></span>
        <span class="score_val"></span>
    </div>

    <ul id="leaderboard">
    </ul>

    <script src="js/script.js"></script>
</body>
  
</html>