* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    height: 100vh;
    width: 100vw;
}

h1 {
    position: fixed;
    top: 0;
}
  
.background {
    height: 100vh;
    width: 100vw;
    background-color: skyblue;
}
  
.bird {
    height: 100px;
    width: 160px;
    position: fixed;
    top: 40vh;
    left: 30vw;
    z-index: 100;
}
  
.pipe_sprite {
    position: fixed;
    top: 40vh;
    left: 100vw;
    height: 70vh;
    width: 6vw;
    background-color: green;
}
  
.message {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 10vh;
    font-weight: 100;
    color: black;
    bottom: 12vh;
    left: 20vw;
    text-align: center;
    z-index: 1000;
}
  
.score {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 10vh;
    font-weight: 100;
    color: goldenrod;
    top: 0;
    left: 0;
}
  
.score_val {
    color: gold;
}

#leaderboard {
    position: fixed;
    left: 1em;
    top: 6em;
}

.cloud {
    position: fixed;
    top: 0;
    left: 0;
    width: inherit;
    height: 20vw;
    background-image: url(../images/cloud.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.sun{
    background-color: white;
    width: 20vw;
    height: 20vw;
    left: 50px;
    top: 50px;
    border-radius: 50%;
    position: fixed;
    box-shadow: 0px 0px 24px 8px #ffffff;
}


.fog{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/fog.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
}

.rain{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/rain.gif);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
}

.snow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/snow.gif);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
}

.storm{
    position: fixed;
    top: -25vh;
    left: -25vw;
    width: 150vw;
    height: 150vh;
    background-image: url(../images/rain.gif);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
    transform: rotate(30deg);
}